$bgPrimary: #242424;
*{
  padding: 0;
  margin: 0;
  
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: $bgPrimary;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.brand{
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 70px;
  

}




nav{
  background-color: rgb(0, 0, 0);
  
  
}

.container {
  max-width: 1140px;
  padding-inline: 1.5rem;
  margin: 0 auto;
}

.titulo {
  margin-top: 2rem;
}

.navbar {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-main);
  border-bottom: 3px solid black;
}

.logo {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.linkMenu {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
}

.linkMenu:hover {
  text-decoration: underline;
}

.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-block: 2rem;
}

.producto {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0px 1px 10px red;
  transition: transform 0.3s ease;

}

.producto:hover{
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(255, 255, 255, 0.767)
}

.producto > div {
  padding: 1rem;
  background-color: var(--clr-main-light);
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.producto > img {
  width: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
}

.productos .verMas {
  text-decoration: none;
  background-color: var(--clr-main);
  color: white;
  padding: .5rem;
  width: max-content;
  border-radius: .5rem;
  transition: .2s;
}

.productos .verMas:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.detalleProductos{
  padding-block: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}

.detalleProductos img {
  width: 100%;
}

.detalleProductos h3 {
  font-size: 2rem;
}

.categoria {
  font-size: .8rem;
  color: #424242;
  margin-top: 1rem;
}

.precio {
  font-size: 2rem;
  margin-top: 2rem;
  font-weight: 600;
}


.itemCount{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.itemCount button, .agregarAlCarrito, .enviar{
  background-color: var(--clr-main);
    border: 0;
    width: 5rem;
    height: 3rem;
    color: white;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    border: 2px solid var(--clr-main);
    transition: .2s;
}

.itemCount button:hover, .agregarAlCarrito:hover, .enviar:hover {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
}
.botonVaciar{
  background-color: rgba(151, 0, 0, 0.363);
  border: 0;
  width: 5rem;
  height: 3rem;
  color: white;
  border-radius: .5rem;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
  border: 2px solid var(--clr-main);
  transition: .2s;
}
.botonVaciar:hover{
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
}
.agregarAlCarrito, .enviar{
  background-color: white;
  color: black;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: flex-start;
}

.formulario input {
  padding: .5rem;
  width: 18rem;
  border-radius: .5rem;
  border: 2px solid black;
}

.formulario input:focus {
  outline: 0;
  border: 2px solid var(--clr-main);
  outline: 2px solid var(--clr-main);
}